<% provide :page_title, 'Новая задача' %>
<% currently_at 'Задачи' %>
<div class="md-4">
  <h1>Создание заадчи</h1>
</div>

<%= render 'form' %>
<%= link_to "Назад", project_issues_path(@project, @issue), class: 'btn btn-primary my-3' %>
