<% provide :page_title, 'Редактирование пользователя' %>
<% currently_at 'Настройки' %>
<div class="md-4">
  <h1> <%= "Редактирование профиля пользователя #{@user.name_or_email}" %></h1>
</div>

<%= render 'form' %>
