<div class ="home_page">
  <div class="col-md-6">
    <h1>Последние новости:</h1>
    <% if @news.present? %>
      <%@news.each do |news| %>
        <%= render partial: 'news/news', object: news %>
        <hr />
      <% end %>
    <%end %>
    <%= link_to "Добавить новость", new_news_path, class: 'btn btn-primary' %>
  </div>
</div>

