<div class="news">
  <p>
    <span class="news"><%= news.title %></span>
  </p>
  <p>
    <span class="description"><%= news.description %></span>
  </p>
  <li><%= link_to "Редактировать", edit_news_path(news), class: 'fa fa-pencil' %></li>
  <li><%= link_to "Удалить", news_path(news), data: {
    turbo_method: :delete,
    turbo_confirm: "Удалить новость #{news.title}?"
  } %></li>
</div>