<% provide :page_title, 'Редактирование новости' %>
<% currently_at 'Все новости' %>
<div class="md-4">
  <h1>Редактирование новости</h1>
</div>

<%= render 'form' %>
<%= link_to "Назад к текущей новости", news_path, class: 'btn btn-primary my-3' %>
<%= link_to "Назад ко всем новостям", news_index_path, class: 'btn btn-primary my-3' %>
