<% provide :page_title, 'Все новости' %>
<% currently_at 'Все новости' %>
<div class ="news">
  <div class="col-md-12">
    <h1>Все новости:</h1>
    <%= link_to "Добавить новость", new_news_path, class: 'btn btn-primary btn-lg mb-3' %>
    <%= pagination(@pagy) %>

    <form class="mb-4" method="GET">
      <span>название новости:</span>
      <input  type="text" name="title" >
      <input class="btn btn-sm btn-outline-secondary me-md-2" type="submit" value="Искать новость">
    </form>

    <% if @news.present? %>
      <%= render partial: 'news', collection: @news, as: :news, locals: {news: @news} %>
    <%end %>
  </div>
  <%= pagination(@pagy) %>
</div>