<% provide :page_title, 'Настройки' %>
<% currently_at 'Настройки' %>
<div class ="settings">
  <div class="col-md-6">
    <h1>Настройки:</h1>
    <%= link_to 'Пользователи', users_path, class: 'nav-link px-2 text-black' %>
  </div>
</div>