<% provide :page_title, 'Новый проект' %>
<% currently_at 'Проекты' %>
<div class="md-4">
  <h1>Создание проект</h1>
</div>

<%= render 'form' %>

<%= link_to "Назад ко всем проектам", projects_path, class: 'btn btn-primary my-3' %>
