<%= simple_form_for @role do |f| %>
  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :name, label: "Название роли" %>
    </div>
  </div>

  <%= f.button :submit, "Сохранить", class: 'btn btn-primary'%>
<% end %>

