<% provide :page_title, 'Новая роль' %>
<% currently_at 'Настройки' %>
<div class="md-4">
  <h1>Создание Роль</h1>
</div>

<%= render 'form' %>
<%= link_to "Назад", roles_path, class: 'btn btn-primary my-3' %>