<%= simple_form_for  @journal do |f| %>
  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :body, label: "Комментарий" %>
    </div>
  </div>

  <%= f.button :submit, "Сохранить", class: 'btn btn-primary'%>
<% end %>

