<% provide :page_title, 'Отчеты' %>
<% currently_at 'Отчеты' %>
<div class ="settings">
  <div class="col-md-6">
    <h1>Отчеты:</h1>
    <h2> <%= link_to 'Анализ содержания металлов', metal_content_analysis_index_path, class: 'link px-2 text-black' %> </h2>
  </div>
</div>